section.fourbanners .foto {
    width: 100%;
    height: 200px;
    display: inline-block;
    color: white;
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: -.035em;
    padding: 0.1%;
}

section.fourbanners .orange {
    background: orange;
    widht: 100%;
    height: 200px;
    position: relative;
    color: white;
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: -.035em;
    padding: 0;
}