section.top-nav {
    g1 font-size: 20px;
    background-color: rgb(7, 5, 5);
    background-image: url("../img/cyclist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.g1nav {
    font-size: 15px;
}