section.top-nav {
    border-bottom: 1px solid hsla(0, 0%, 51%, .2);
    padding: 20px 0px;
}

section.top-nav ul.menu {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
}

section.top-nav ul.menu li {
    margin-left: 15px;
}

section.top-nav ul.menu li:first-child {
    margin-left: 0px;
}

section.top-nav ul.menu li a svg {
    font-size: 12px;
}

section.top-nav ul.user-menu,
section.top-nav form {
    display: inline-block;
}

section.top-nav ul.user-menu,
section.top-nav form,
section.top-nav .user-icon {
    margin-top: 10px;
}

section.top-nav ul.user-menu {
    font-size: 11px;
    margin-right: 15px;
    text-transform: uppercase;
}

section.top-nav ul.user-menu li a svg {
    font-size: 9px;
}

section.top-nav form {
    margin-right: 15px;
}

section.top-nav form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px 20px;
    width: 250px;
}